/* box-model는 상자로 랜더링 된다. */
/* 참고자료 : https://www.w3.org/TR/CSS2/box.html#collapsing-margins*

/* 박스 모델 구성
padding : 박스 안 쪽 방향에 들어가는 여백 
border : 박스의 테두리
margin : 박스 바깥 쪽에 생기는 여백
box-sizing : border-box; 박스의 크기를 지정할 때 padding과 border를 포함할지 여부
content : 박스의 내용
*/

/* 진짜 진짜 진짜 중요한 속성!! display */
/* 
display는 html 요소의 표현방식을 지정한다.

DTD(Document Type Definition) : 문서 형식 정의
확장자.dtd

inline-block : inline과 block의 특징을 모두 가지고 있다.
공간이 부족할 때 (텍스트 쪼갤 수 없는 단어) 줄바꿈 된다. 
inline : 공간이 부족할 때 (텍스트 쪼갤 수 없는 단어) 줄바꿈 되지 않는다.

float : 붕 떠있는 속성. inline을 밀어내는 효과가 있다. 
float-root : 해당 작업을 하면 block BFC가 된다.
 float 속성을 가진 요소를 감싸는 요소. float 속성을 가진 요소를 감싸지 않으면 높이가 사라진다.
*/

/* CSS 박스모델 */
/* 박스의 테두리 지정 */
.like {
  /* border: 5px solid greenyellow;
  padding: 20px;
  width: 150px; */
}

/* width, height 속성으로 크기 지정 */
/* inline 일 경우, width가 적용되지 않는다. */
/* inline-block일 경우, width가 적용된다. */
.lion {
  /* display: inline-block; */
  /* 사용하지 않을 때 line height의 기본 값 때문에 .like 박스에 걸치게 된다. */
  /* border: 5px solid palevioletred; */
  /* padding: 10px; */
  /* span은 inline 요소이기에 텍스트 사이즈에 맞춰 박스가 지정된다. */
}

/* 마진 겹침 (margin collapsing) */
/* 기본적인 흐름 (normal flow) : 요소들이 문서의 흐름에 따라 배치되는 것
유연한 박스모델(flex/grid)을 쓰면 겹치지 않는다.  */

.bootcamp {
  border: 2px solid orangered;
  padding: 0 100px;
}

.like {
  border: 5px solid greenyellow;
  padding: 20px;
  width: 150px;
  margin: 50px 50px 50px auto;
  /* 상자 크기가 뷰포트 만큼 늘어난 것이다. 뷰포트에서 상자 크기를 뺀 나머지 여백으로 지정 */
}

.lion {
  display: block;
  width: 300px;
  border: 5px solid palevioletred;
  padding: 10px;
  margin: 20px 0;
  /* margin collapsing */
}

.student {
  margin-bottom: 50px;
  width: 300px;
  margin-inline: auto;
  margin-left: -50px;
}