/* 기본 값에 대한 세부 정의를 할 수 있다. */
@property --primary-color {
  syntax: '<color>';
  inherits: false;
  /* 상속받지 않게 규칙을 정하면 부모가 어떤 지역 변수를 할당해도 상속 받지 않는다. */
  initial-value: #3498db;
}

/* 상속을 안 받아야 하는 개발 케이스: 
1. 테마가 바뀌는 경우
2. 특정 컴포넌트에만 적용하는 경우
*/

/* 전역 변수 정의 */
:root {
  /* 색상 팔레트 */
  --white: #fff;
  --black: #000;
  --red: #f00;
  --green: #0f0;
  --blue: #00f;
  --orange: orange;
  --yellow: yellow;
  --light-blue: aqua;

  /* 주요 색상 */
  --primary-color: var(--blue);
  --secondary-color: var(--light-blue);
  --accent-color: var(--yellow);
  --border-color: var(--red);

  /* --primary-color: #3498db;
  --secondary-color: #2ecc71; */
  /* 이렇게 작성 해야 하는데 */
  /* --secondary: #2ecc71;(콜백) */
  /* 콜백은 플랜B 대안이다. 아래1️⃣내용 참조 */

  /* size */
  --small: .75rem;
  --medium: .875rem;
  --default: 1rem;
  --large: 1.125rem;

  --text12: 0.75rem;
}

/* 왜 단어 사이에 '-(하이픈)'이 있나요?
케밥 케이스(kebab-case)를 써서 그렇다. 
*/

.lion {
  color: red;
  border: 1px solid green;


  .parent {
    padding: inherit;
    margin: 0;

    .child {
      color: black;
      border: 1px solid blue;
      border-color: blue;
      padding: inherit;
      display: inline-block;
    }
  }

}

.container {
  color: var(--text-color);

  /* 예시
  --text-color: var(--orange);
  color: var(--orange); */

  /* 부모(div)=오랜지 (상속이다.)
      ㄴ자식(p)=오랜지
        ㄴ손주(span)=오랜지 */
  /* 해당 구조로 색상을 부모에게 주면 자연스럽게 자식들에게 색상이 상속된다. 
  (디자인적 요소만 상속 됨) */

  .parent {
    --text-color: blue;

    /* 예시 이어서
    color: var(--red);
    다만 이렇게 중간에 다른 색으로 지정한다면 .child는 red로 색상이 변경되나 맨 상단 세부 정의(@property --primary-color)로 색상은 상속하지 않는다고 정의하면 이때 .child는 .container(조상부모)를 따라가고 .parent만 색상이 red로 된다. (헷갈리면 수업 예제로 실습 해볼 것)  */

    .child {
      color: var(--text-color);
    }
  }
}

.wrapper {
  --font-size: var(--small);
  --bg-color: var(--green);
  --text-color: var(--red);

  button {
    font-size: var(--font-size, 1rem);
    background-color: var(--bg-color, #fff);
    color: var(--primary-color, #000);
  }

  button.close {
    --font-size: var(--default);
  }

  button.popup {
    --text-color: var(--blue);

  }

  button.info {
    --bg-color: var(--white);
  }
}

.text-card-1 {
  /* 지역 변수 정의 */
  --secondary-color: #ebb55e;

  /* 변수 안에 변수를 재할당 */
  --bg-color: var(--green);
  --border-color: var(--red);

  /* background-color: --secondary-color; 이렇게 하면 안됨 */
  /* background-color: var(--secondary-color);  */
  /* 이렇게 해야함 */

  /* 1️⃣ 콜백 */
  /* --secondaary-color 속성이 없을 때 대안으로 #2ecc71가 적용되도록 설정 */
  h1 {
    /* background-color: var(--secondary-color #2ecc71); */
    background-color: var(--bg-color);
  }

  p {
    border-width: 10px;
    border-style: solid;
    border-color: var(--border-color);
  }
}

/* 전역보다 지역 변수가 우선이다.
기본적으로 가까운 변수를 갖다 쓰는 특성이 있다. */

/* sass는 그 시점에 있는 것으로 적용한다. */

.text-card-2 {
  --bg-color: var(--blue);
  --border-color: var(--green);

  h1 {
    background-color: var(--bg-color);
  }

  p {
    border-width: 10px;
    border-style: solid;
    border-color: var(--border-color);
  }
}

/* 상태관리를 하면 굉장히 편하다. 노가다를 많이 해보면 된다. 
개발자는 제일 개으른 사람이어서 함수는 */

/* 전역은 위험한다. css는 개발 친화적이지 않다고 생각할 수 있다. capsulization이 안되기 때문이다. 

컴포넌트 별로 색상의 주제를 정해놓고 사용하는 것도 좋다. 

같은 라인을 멀티커서 vscode 단축키  를 모두 선택하고 맨 뒤로 이동하면 한번에 수정이 가능하다.
*/