.case-01 {
  border: 1px solid currentColor;
  color: green;
  /* 버튼 만들 때 버튼의 테두리까지 동일하게 만들기 */
  width: 200px;
  inline-size: 400px;
  /* 가로 크기를 width 속성이 아닌 논리 속성으로 지정 */
  /* 순서상 나중에 지정하여서 200으로 변경 후 400으로 변경된다. */
  /* inline-size : 블록 컨텍스트에서 인라인 방향의 크기를 설정하는 CSS 속성 */
  /* 글쓰기 방향(writing-mode)에 따라 width 또는 height를 대체하는 속성 */
  /* 다국어 지원(세로쓰기, 오른쪽에서 왼쪽 쓰기 등)을 고려한 반응형 디자인에 유용 */
  block-size: 100px;
  /* 텍스트가 넘쳐 흐른다. overflow 현상이 발생된다. */
  /* overflow: hidden; */
  /* 글자가 잘리고 넘지는 면적은 안 보여준다. */
  overflow: auto;
  /* 약관처럼 블록 박스 안에 스크롤을 만든다. */
  /* padding-left: 10px;
  padding-right: 10px; */
  /* 안 쪽 좌우 여백만 준다면? 상하 0으로 주는 것도 주는 것이다. */
  /* padding-inline: 20px; */
  /* inline 속성을 사용하여 좌우 여백을 동시에 준다. */
  /* padding-block: 10px; */
  /* block 속성을 사용하여 상하 여백을 동시에 준다. */
  /* margin-inline: 30px;
  margin-block: 50px; */
  /* inline은 좌우로 흘러간다. */
  /* block은 위아래로 흘러간다. */
  /* 🤨 mdn 참고자료 - writing-mode(글씨 방향)
  https://developer.mozilla.org/en-US/docs/Web/CSS/writing-mode
  */
  /* writing-mode: vertical-rl; */
  /* 위>아래, 오른쪽>왼쪽으로 쓰여진다. */
  writing-mode: vertical-lr;
  padding-inline-start: 20px;
  /*  */
  padding-inline-end: 20px;
  /* 그런 문화권으로 컨버팅 해줄 때 편하다. AI에게 내가 작성한 코드를 선택자 구문을 유지면서 모두 논리단위로 바꿔줘. 하면 바꿔준다. */
  /* 🤨 inline-size - 자주 쓰고 싶은 것 snipet 만들어 놓기 
  size 검색하면 inlie과 block이 같이 나오도록*/
}

/* position의 offset을 지정할 때 논리 속성을 사용한 경우 */
.example {
  position: absolute;
  /* 변경 없음 */
  inset-block-start: 0;
  /* top: 0; */
  inset-inline-start: 0;
  /* left: 0; */
  inset-inline-end: 0;
  /* right: 0; */
  inset-block-end: 0;
  /* bottom: 0; */
}

/* position의 offset을 지정할 때 논리 속성 중 단축 표기법을 사용한 경우 */
.example {
  position: absolute;
  /* 변경 없음 */
  inset: 0;
}