@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

.container {
  display: grid;
}

.header {
  background: var(--green-300);
  height: 10vh;
}

.navigation {
  background: var(--blue-600);
  height: 15vh;
}

.content {
  background: var(--red-400);
  height: 50vh;

  @media (min-width: 768px) {
    width: 50%;
    display: grid;
  }
}

.sidebar {
  background: var(--green-800);
  height: 15vh;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.footer {
  background: var(--gray-500);
  height: 10vh;
}