@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

body *,
body *::before,
body *::after {
  box-sizing: border-box;
  font-family: SUIT, sans-serif;
}

body {
  width: 90%;
  margin-inline: auto;
}

p {
  margin-block-start: 100px;
  break-before: column;
  border: 2px solid green;

  span {
    display: block;
    background: yellow;
    column-span: all;
  }
}