/* 클래스 선택자 */
/* 배경색상 */
/* font-variant 속성으로 대문자 변환은 가능했지만 크기가 작은 대문자인 관계로 주석 처리 */
/* 검색을 통해 text-transform 속성을 알게 되었고, 대문자로 변환하는 값을 적용했다. */
/* text-transform 속성을 .member-service에 선언함으로써 자식 요소 모두에 상속되도록 한다. */
.member-service {
  background-color: yellow;
  /* font-variant: small-caps; */
  /* 왜냐하면 상속시킨 것이다. */
  text-transform: uppercase;
  /* font 단축 소성을 사용하여 글자 크기와 글꼴을 지정 */
  font: 1.125rem, suit, sans-serif;
}

/* 태그 선택자 */
/* 웹브라우저 스타일(밑줄)을 재정의 */
/* 웹브라우저 링크 스타일(색상)을 지정의 (상속) */
.item {
  text-decoration: none;
  color: inherit;
}

/* a 요소 이면서 가상요소 선택자 */
.item::before {
  content: ":";
}

/* a 요소보다 우선순위가 높은 것 */
.first::before {
  content: "";
}

/* 뭐를 만들어 보면서 배운 내용을 접목해 보자 
피그마 시안을 보고 회고팀에서 배운 내용을 정리 해보자고 UI를 줄 것이다.
자율적으로 

설계와 디자인을 반복해야 한다. 계란이 먼저인지 닭이 먼저인지*/

/* 두 번째부터 나머지 모두 선택이 된다. */
/* 구조 선택자를 이용할 때 공부하기 좋은 예제 (not 실제 사용) */
a:nth-child(n+2) {}