@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';

/* 플렉스를 활용한 반응형 레이아웃 */

/* 헤더 */
.header {
  background: var(--pastel-coral);
  height: 10vh;
}

/* 내비게이션 */
.navigation {
  background: var(--pastel-green);
  height: 15vh;
}

.main-container {
  /* display: flex; */
}

/* 메인 콘텐츠 */
.content {
  background: var(--pastel-aqua);
  height: 40vh;

  @media (min-width: 768px) {
    display: flex;
    /* flex-direction: row; */
    height: 65vh;
    width: 50%;
  }
}

/* 사이드 바 */
.sidebar {
  background: var(--pastel-yellow);
  height: 25vh;

  @media (min-width: 768px) {
    display: flex;
    height: 65vh;
    width: 50%;
  }
}

/* 푸터 */
.footer {
  background: var(--pastel-lavender);
  height: 10vh;
}