@import "/src/common/modern-reset.css";
/* 기본 스타일 살아 있다. */

body {
  font-family: SUIT, sans-serif;
}

.card {
  background: pink;
  margin: 2em;
  /* 16 *2 = 32px */
  /* 여백줄 때 rem 단위를 많이 쓴다. */
  padding: 2em;
  /* 16 * 2 = 32px */
  border: 1px solid red;
  border-radius: .5rem;
  /* root값 16px * 0.5rem = 8px */
  /* em을 쓰면 root에 font-size를 지정하여 margin, padding이 같이 반영되게끔 한다. 
  이번 작업에서는 제외한다.  */

  /* 제목 */
  .subject {
    background: skyblue;
    font-size: 1.5rem;
    font-weight: 600;

    span {
      vertical-align: top;

      &[lang="en"] {
        font-size: 0.5em;
      }
    }
  }
}

/* 이미지 */
.thumbnail {
  --radius: 50%;

  border: 1px solid blue;
  float: left;
  margin: 1em;
  padding: 1em;
  border-radius: var(--radius);

  img {
    width: 100px;
    border-radius: var(--radius);
  }
}

/* 상속 vs. 변수 
컴포넌트 입장으로 개발 관점에서 */